@rendermode InteractiveServer
@implements IDisposable
@inject FoodDeliveryrestart.Services.CartService CartSvc

@if (CartSvc.Count() > 0)
{
    <span class="badge">@CartSvc.Count()</span>
}

@code {
    protected override void OnInitialized()
    {
        CartSvc.OnChange += Changed;
    }

    private void Changed() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        CartSvc.OnChange -= Changed;
    }
}
